@import "../../responsive.scss";

.home {
  display: flex;
  height: 100%;

  .txtContainer {
    flex: 3;

    .wrapper {
      padding-right: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include md {
        padding-right: 0px;
      }

      .title {
        font-size: 64px;
      }

      .description {
        font-size: 22px;
        font-weight: lighter;
        color: #2a2828c2;
      }

      .boxes {
        display: flex;
        gap: 50px;

        @include sm {
          display: none;
        }

        h1 {
          font-size: 32px;
        }

        h2 {
          font-size: 20px;
          font-weight: lighter;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (min-width: 1024px) and (max-width: 1260px) {
      display: none;
    }

    @include md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include lg {
        width: 105%;
      }
    }
  }
}
